body{
	background: grey;
}
#main{
	height:60px;
	background: black;
	overflow: hidden;
}
#navbutton{
	border: auto;
	font-size: 35px;
	padding-left: 10px;
}
.amazonlogo{
	margin-top: -25px;
	margin-bottom: -19px;
	padding-right: 15px; 
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 15px;
	width: 120px;
	border: 1px;
	border-style: solid;
	border-color: black;
}
.navbuttonlink{
	position: relative;
	top:5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 7px;
	padding-left: 7px;
	border: 1px;
	border-style: solid;
	border-color: black;
	/*border: auto;*/
}
a.navbuttonlink:hover{
	/*padding: auto;*/
	/*border: 1px;*/
	/*border-style: solid;*/
	border-color: white;
}
img.amazonlogo:hover{
	border-color: white;
}
.dropdown{
	margin-right:-3px; 
	width: 43px;
	height: 40px;
	cursor: pointer;
	opacity: 100%;
	background: lightgrey;
	border-radius: 1px;
}
select.dropdown:hover{
	opacity: 80%;
}
/*med screen*/
@media (max-width: 991px){
	#main{
		height: 110px;
	}
	.navbuttonlink{
		margin-right: 5%;
	}
	.dropdown{
		width: 5%;
		height: 36px;
		margin-top: 15px;
		margin-left: 10px;
	}
	.amazonlogo{
		padding-right: 5px;
		margin-left: 1.8%;
		margin-right: 70%;
	}
	input#displayValue{
		width: 90%;
		/*width: 880px;*/
		border-style: solid;
		border-color: black;
		margin-top: 8px;
		/*margin-left: 2px;*/
		margin-right: 10px;
	}
	
}
@media (max-width: 768px){
	.amazonlogo{
		padding-right: 5px;
		margin-left: -27px;
		/*margin-right: 70%;*/
	}
}
@media (max-width: 575){
	#main{
		overflow: visible;
		height: 130px;
	}
	.amazonlogo{
		margin-left: 50px;
		margin-top: -78px;
		width: 120px;
		/*padding-left: 100px;*/
		padding-right: 5px;
		/*margin-left: -30px;*/
		margin-right: 70%;
	}
	input#displayValue{
		width: 87%;
		border-style: solid;
		border-color: black;
		margin-top: -8px;
		margin-right: 10px;
	}
	a.navbuttonlink{
		width: 50px;
	}
}
#displayValue{
	width: 55em;
	height: 40px;
}